.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #495057;
  padding: 2.5rem 4.5rem;
  color: #fff;
}

.header h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.btn {
  font-size: 1.75rem;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.btn:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.btn-logout {
  border: none;
  background-color: #adb5bd;
  border-radius: 50px;
  padding: 0.5rem 2.5rem;
}

@media (max-width: 647px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
